
<div>

  <a-scene embedded arjs='trackingMethod: best;'>
    {{!-- <a-anchor hit-testing-enabled='true'>
      {{!-- <a-entity position="0.5 -2 -0.5" scale="0.10 0.10 0.10"
      obj-model="obj: url(public\imageModel\bugatti.obj)">
      </a-entity> --}}
           
        <!-- Adding an OBJ file to an AR Project-->
        <a-entity 
            obj-model='obj: url(https://rishavjayswal.github.io/augmented-reality/resources/couch.obj); 
            mtl: url(https://rishavjayswal.github.io/augmented-reality/resources/couch.mtl)'>
        </a-entity>

      </a-marker>
    </a-anchor>
    <a-camera-static /> --}}
     <a-marker preset='hiro'>
     <a-entity 
            obj-model="obj: url(https://rishavjayswal.github.io/augmented-reality/resources/couch.obj); 
            mtl: url(https://rishavjayswal.github.io/augmented-reality/resources/couch.mtl)">
        </a-entity>
        </a-marker>
  </a-scene>

</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>